.DS_Store
Thumbs.db
*.log

.env
*.env
backend_pet/.env
front/.env

.venv/
venv/
ENV/
env/
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3
*.db

front/node_modules/
front/build/
front/dist/
.npm
npm-debug.log*
yarn-debug.log*
yarn-error.log*